<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>raDiUS - CONCEPT</h1>
            <hr />
            <p>To design a website, a developer is needed. The developer will have to design the website alongside 
                the content managers to determine which fields are needed for content management as there is control as to what is editable or not.
<br />
                New pages can be created in different sections although to change the format or redesign the website, will need a developer.
            </p>
            <p class="editable">
                JUlia peterERAS
            </p>
            <a href="https://dius.com.au" class="btn btn-primary btn-xl page-scroll">DiUS</a>
        </div>
    </div>
</header>
